<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
    body {
        background-color: black;
        color: white;
    }
    </style>
    <header>
    <h1>About Us</h1>
    </header>
    <main>
    <p>-We are a startup that aims to help students who want to sell their old books/pdf or anything you want to sell to another students?</p>
    <p>-We also aim to help first years going to new places find residences</p>
    <p>-We also aim to help students find lower priced books/textbooks or anything the university requires and need to be bought</p>
   
    </main>
</body>
</html>